@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMP 2084 - Lab 2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">COMP 2084 - Lab 2</a>.</p> <!--Changed title and link name (Setup)-->
</div>

<footer>
    <p>Andrew Hill 200483818</p> <!--Added footnote (Setup)-->
</footer>
